.col-6-foto {
    flex: 0 0 auto;
    width: 40%;
}
img {
    height: 167px;
    width: 50 px;
    max-width: 100px;
   }
   .col-6 {
    flex: 0 0 auto;
    width: 60%;
}
#div_imagen{position: relative;
  display: inline-block;
  width: 35%;
  height: 150px;
    
}
#detalle {
    position: relative;
    left: 15%;
    width: 35%;
    height: 350px;
    
    margin: -2px;
  }
  th{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

.p_titulo{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-style: oblique;
  font-weight: bold;
}