
img {
    height: 50px;
    width: 50;
    max-width: 100px;
   }
.table{
   margin: 1%;
   border-collapse: collapse; 
   font-family: "Comic Sans MS", "Comic Sans", cursive;
   font-size: 16px;
   
    
}
.button-size {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.menu{
    background-color: #D1EDF1 ;
}
th{
    text-align: center;
}

.div-table{
    width: 100%;

}